*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    background-color: rgb(249, 249, 251);
}

/* 소개 */

#wrap .section:nth-child(1){
    width: 90%;
    margin: auto;
    margin-left: 8%;
    margin-top: 1%;
    font:  10em 'Corbel';
    color: #7896df;
}
.bgline{
    position: absolute;
    width: 1920px;
    height: 937px;
    z-index: -1;
}

.bgline .bgline-top01{
    position: absolute;
    z-index: -1;
    width: 730px;
    height: 60px;
    background: -webkit-linear-gradient(left, #7896df, #E76E82);
    transform: translate(-52%, 460%) rotate(-45deg);
    border-radius: 30px;
}
.bgline .bgline-top02{
    position: absolute;
    z-index: -1;
    width: 550px;
    height: 40px;
    background: -webkit-linear-gradient(right, #7896df, #E76E82);
    transform: translate(-50%, 940%) rotate(-45deg);
    border-radius: 30px;
}

.bgline .bgline-bottom01{
    position: absolute;
    z-index: -1;
    width: 750px;
    height: 60px;
    right: 0;
    bottom: 5%;
    background: -webkit-linear-gradient(right, #7896df, #E76E82);
    transform: translate(35%, -150%) rotate(-45deg);
    border-radius: 30px;
}

.bgline .bgline-bottom02{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 40px;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(left, #7896df, #E76E82);
    transform: translate(-10%, -10%) rotate(-45deg);
    border-radius: 30px;
}

#wrap .section:nth-child(1) .page1_p{
    position: absolute;
    top: 18%;
    left: 15%;
    animation: p 1.5s infinite alternate ease-in-out;
}

#wrap .section:nth-child(1) .page1_o1{
    position: absolute;
    top: 22%;
    left: 22%;
    animation: o1 1.2s 0.3s infinite alternate ease-in-out;
}

#wrap .section:nth-child(1) .page1_r{
    position: absolute;
    top: 16%;
    left: 30%;
    animation: r 1s 0.5s infinite alternate ease-in;
}
#wrap .section:nth-child(1) .page1_t{
    position: absolute;
    top: 23%;
    left: 37%;
    animation: t 1.5s infinite alternate ease-out;
}

@keyframes p{
    0%{
        top: 18%;
    }
    100%{
        top: 20%;
    }
}

@keyframes o1{
    0%{
        top: 22%;
    }
    100%{
        top: 19%;
    }
}

@keyframes r{
    0%{
        top: 16%;
    }
    100%{
        top: 20%;
    }
}

@keyframes t{
    0%{
        top: 23%;
    }
    50%{
        top: 20%;
    }
    100%{
        top: 15%;
    }
}

#wrap .section:nth-child(1) .page1_f{
    position: absolute;
    top: 40%;
    left: 29%;
    animation: f 1.2s 0.3s infinite alternate ease-in-out;
}
#wrap .section:nth-child(1) .page1_o2{
    position: absolute;
    top: 43%;
    left: 35%;
    animation: o2 1.5s 0.2s infinite alternate ease-in-out;
}
#wrap .section:nth-child(1) .page1_l{
    position: absolute;
    top: 50%;
    left: 43%;
    animation: l 1.3s 0.5s infinite alternate ease-out;
}
#wrap .section:nth-child(1) .page1_i{
    position: absolute;
    top: 41%;
    left: 48%;
    animation: i 2s 0.5s infinite alternate ease-in;
}
#wrap .section:nth-child(1) .page1_o3{
    position: absolute;
    top: 43%;
    left: 51%;
    animation: o3 1.5s infinite alternate ease-in-out;
}

@keyframes f{
    0%{
        top: 40%;
    }
    100%{
        top: 42%;
    }
}

@keyframes o2{
    0%{
        top: 43%;
    }
    100%{
        top: 41%;
    }
}

@keyframes l{
    0%{
        top: 50%;
    }
    100%{
        top: 53%;
    }
}

@keyframes i{
    0%{
        top: 41%;
    }
    50%{
        top: 38%;
    }
    100%{
        top: 50%;
    }
}

@keyframes o3{
    0%{
        top: 43%;
    }
    100%{
        top: 45%;
    }
}
/* 포인트 점 */

#wrap .point{
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: cornflowerblue; */
    position: relative;
}
.point .point_1{
    position: absolute;
    z-index: 3;
    top: 64%;
    left: 22.5%;
    width: 25px;
    height: 25px;
    background: #E76E82;
    border-radius: 50%;
}
.point .point_2{
    position: absolute;
    z-index: 3;
    top: 64%;
    left: 66.2%;
    width: 25px;
    height: 25px;
    background: #E76E82;
    border-radius: 50%;
}
.point .point_3{
    position: absolute;
    z-index: 3;
    top: 27%;
    left: 60%;
    width: 25px;
    height: 25px;
    background: #E76E82;
    border-radius: 50%;
}
.point .point_4{
    position: absolute;
    z-index: 3;
    top: 44%;
    left: 68%;
    width: 25px;
    height: 25px;
    background: #E76E82;
    border-radius: 50%;
}
.point .point_5{
    position: absolute;
    z-index: 3;
    top: 15%;
    left: 54.5%;
    width: 25px;
    height: 25px;
    background: #7896df;
    border-radius: 50%;
}
.point .point_6{
    position: absolute;
    z-index: 3;
    top: 35%;
    left: 63%;
    width: 25px;
    height: 25px;
    background: #7896df;
    border-radius: 50%;
}
.point .point_7{
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 65%;
    width: 25px;
    height: 25px;
    background: #7896df;
    border-radius: 50%;
}
.point .point_8{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 80%;
    width: 25px;
    height: 25px;
    background: #7896df;
    border-radius: 50%;
}
.point .point_9{
    position: absolute;
    z-index: 3;
    top: 9%;
    left: 79.8%;
    width: 25px;
    height: 25px;
    background: #7896df;
    border-radius: 50%;
}
.point .point_10{
    position: absolute;
    z-index: 3;
    top: 26%;
    left: 70.5%;
    width: 25px;
    height: 25px;
    background: #7896df;
    border-radius: 50%;
}

/* SVG 선들 */

.svg_wrap .svg_line01{
    position: absolute;
    width: 683px;
    height: 133px;
    top: 64.5%;
    left: 26%;
}

.svg_wrap .svg_line02{
    position: absolute;
    top: 30%;
    left: 57%;
    width: 204px;
    height: 165px;
    border-radius: 50%;
}

.svg_wrap .svg_line03{
    position: absolute;
    top: 17.5%;
    left: 52.5%;
    width: 203px;
    height: 235px;
    border-radius: 50%
}

.svg_wrap .svg_line04{
    position: absolute;
    top: 35%;
    left: 62.5%;
    width: 365px;
    height: 330px;
    border-radius: 50%;
}

.svg_wrap .svg_line05{
    position: absolute;
    top: 10%;
    left: 66.5%;
    width: 212px;
    height: 200px;
    border-radius: 50%;
}

.svg_wrap .point_line01{
    fill:none;
    stroke:#E76E82;
    stroke-width:3;
    stroke-miterlimit:10;
}

.svg_wrap .point_line02{
    fill:none;
    stroke:#E76E82;
    stroke-width:2.7;
    stroke-miterlimit:10;
}

.svg_wrap .point_line03{
    fill:none;
    stroke:#7896df;
    stroke-width:3;
    stroke-miterlimit:10;
}

.svg_wrap .point_line04{
    fill:none;
    stroke:#7896df;
    stroke-width:1.7;
    stroke-miterlimit:10;
}

.svg_wrap .point_line05{
    fill:none;
    stroke:#7896df;
    stroke-width:1.7;
    stroke-miterlimit:10;
}

/* 스킬 */
#wrap .section:nth-child(2){
    width: 90%;
    margin: auto;
}
#wrap .section:nth-child(2) h4{
    width: 100%;
    margin-top: 1.7%;
    /* margin-left: 3%; */
    color: #7896df;
    font: bold 3em 'Corbel';
    /* text-shadow: -4px -4px 0 rgb(249, 249, 251),
    0   -4px 0 rgb(249, 249, 251),
    4px -4px 0 rgb(249, 249, 251),
    4px  0   0 rgb(249, 249, 251),
    4px  4px 0 rgb(249, 249, 251),
    0    4px 0 rgb(249, 249, 251),
   -4px  4px 0 rgb(249, 249, 251),
   -4px  0   0 rgb(249, 249, 251); */
}

#wrap .profile-img{
    position: absolute;
    z-index: 3;
    top: 10.7%;
    left: 13.3%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #7896df;
    overflow: hidden;
}

#wrap .profile-img img{
    width: 100%;
    height: 100%;
}
#wrap .profile{
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 41.7%;
    left: 9%;
    width: 400px;
}

#wrap .profile h2{
    font-size: 20px;
    font-family: 'a드림고딕1';
    letter-spacing: 4px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    border-radius: 30px;
    background: #7896df;
    color: white;
    line-height: 35px;
    
}
#wrap .profile p{
    font-size: 16px;
    font-family: 'a드림고딕3';
    margin-top: 10px;
    color: #333;
}
#wrap .profile span{
    font-size: 18px;
    font-family: 'a드림고딕5';
    color: #333;
}

#wrap .skill{
    position: relative;
    top: 2.7%;
    left: 40%;
    width: 900px;
}
.skill img{
    width: 60px;
    height: 60px;
}

.skill .program{
    margin: auto;
    font-size: 22px;
    font-family: 'a드림고딕4';
    width: 220px;
    height: 45px;
    border-radius: 30px;
    background: #7896df;
    color: white;
    text-align: center;
    line-height: 45px;
}
.skill .skill-ps{
    width: 260px;
    height: 260px;
    top: 290%;
    left: 5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ps 차트 */
.outer-ps{
    width: 240px;
    border-radius: 50%;
    padding: 20px;
    /* box-sizing: border-box; */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner-ps{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
                 -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                 -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
                 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number-ps{
    font-weight: 600;
    color: #555;
    text-align: center;
    font-size: 18px;
    /* display: flex;
    flex-direction: column; */
}

.skill-ps .st0{
    fill: none;
    stroke: #31A8FF;
    stroke-width: 20px;
    stroke-linecap:round;
    stroke-linejoin:round;
    opacity: 0;
}

.skill svg{
    position: absolute;
    top: 0;
    left: 0;
}




.skill .skill-ai{
    width: 260px;
    height: 260px;
    top: 290%;
    left: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ai 차트 */

.outer-ai{
    width: 240px;
    border-radius: 50%;
    padding: 20px;
    /* box-sizing: border-box; */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner-ai{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
                 -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                 -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
                 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number-ai{
    font-weight: 600;
    color: #555;
    text-align: center;
    font-size: 18px;
}

.skill-ai .st1{
    fill: none;
    stroke: #FF9A00;
    stroke-width: 20px;
    stroke-linecap:round;
    stroke-linejoin:round;
    opacity: 0;
    /* stroke-dasharray: 760;
    stroke-dashoffset: 760; */
    /* animation: ani-ai 2s linear forwards; */
}

/* svg{
    position: absolute;
    top: 0;
    left: 0;
} */

/* @keyframes ani-ai{
    100%{
        stroke-dashoffset: 90;
    }
} */


.skill .skill-html{
    width: 260px;
    height: 260px;
    top: 900%;
    left: 70%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* html 차트 */

.outer-html{
    width: 240px;
    border-radius: 50%;
    padding: 20px;
    /* box-sizing: border-box; */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner-html{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
                 -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                 -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
                 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number-html{
    font-weight: 600;
    color: #555;
    text-align: center;
    font-size: 18px;
}

.skill-html .st2{
    fill: none;
    stroke: #E44C25;
    stroke-width: 20px;
    stroke-linecap:round;
    stroke-linejoin:round;
    opacity: 0;
    /* stroke-dasharray: 760;
    stroke-dashoffset: 760;
    animation: ani-html 2s linear forwards; */
}

/* svg{
    position: absolute;
    top: 0;
    left: 0;
} */

/* @keyframes ani-html{
    100%{
        stroke-dashoffset: 230;
    }
} */


.skill .skill-js{
    width: 260px;
    height: 260px;
    top: 900%;
    left: 25%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* js 차트 */

.outer-js{
    width: 240px;
    border-radius: 50%;
    padding: 20px;
    /* box-sizing: border-box; */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner-js{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
                 -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                 -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
                 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number-js{
    font-weight: 600;
    color: #555;
    text-align: center;
    font-size: 18px;
}

.skill-js .st3{
    fill: none;
    stroke: #FEDD23;
    stroke-width: 20px;
    stroke-linecap:round;
    stroke-linejoin:round;
    opacity: 0;
    /* stroke-dasharray: 760;
    stroke-dashoffset: 760;
    animation: ani-js 2s linear forwards; */
}

/* svg{
    position: absolute;
    top: 0;
    left: 0;
} */

/* @keyframes ani-js{
    100%{
        stroke-dashoffset: 280;
    }
} */



/* 그래픽 */
#wrap .section:nth-child(3){
    width: 90%;
    margin: auto;
}
#wrap .section:nth-child(3) h4{
    margin-top: 3%;
    /* margin-left: 3%; */
    color: #7896df;
    font: bold 3em 'Corbel';
    /* text-shadow: -4px -4px 0 rgb(249, 249, 251),
    0   -4px 0 rgb(249, 249, 251),
    4px -4px 0 rgb(249, 249, 251),
    4px  0   0 rgb(249, 249, 251),
    4px  4px 0 rgb(249, 249, 251),
    0    4px 0 rgb(249, 249, 251),
   -4px  4px 0 rgb(249, 249, 251),
   -4px  0   0 rgb(249, 249, 251); */
}

#wrap .section:nth-child(3) .list{
    position: relative;
    width: 38%;
    height: 55%;
    /* background: red; */
    top: 11%;
    left: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#wrap .section:nth-child(3) h2{
    position: absolute;
    width: 250px;
    height: 35px;
    border-radius: 30px;
    background: #7896df;
    color: white;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    font-family: 'a드림고딕2';
    top: 21%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.list img{
    width: 100%;
    height: 100%;
}

.list li{
    position: relative;
    width: 33.3%;
    height: 50%;
    box-sizing: border-box;
    padding: 3%;
}

.list .btn_img01{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 180px;
    cursor: pointer;
    /* transition: all 0.3s; */
}

.list .btn_img02{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 180px;
    cursor: pointer;
    /* transition: all 0.3s; */
}
.list .btn_img03{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 180px;
    cursor: pointer;
}
.list .btn_img04{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 180px;
    cursor: pointer;
}
.list .btn_img05{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 180px;
    cursor: pointer;
}
.list .btn_img06{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 180px;
    cursor: pointer;
}


.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    margin: -9% 0 0 38%;
}
.container .card01{
    position: absolute;
    width: 800px;
    height: 750px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card02{
    position: absolute;
    width: 800px;
    height: 750px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card03{
    position: absolute;
    width: 800px;
    height: 750px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card04{
    position: absolute;
    width: 800px;
    height: 750px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card05{
    position: absolute;
    width: 800px;
    height: 750px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card06{
    position: absolute;
    width: 800px;
    height: 750px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card01 .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card02 .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card03 .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card04 .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card05 .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card06 .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card01:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card02:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card03:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card04:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card05:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card06:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.container .imgbx{
    position: relative;
    width: 700px;
    height: 540px;
    border-radius: 20px;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .contentbx h3{
    color: #333;
    font-family: 'a드림고딕4';
    /* text-transform: uppercase; */
    letter-spacing: 2px; /* 자간 */
    /* font-weight: 500; */
    font-size: 22px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container .contentbx h3 span{
    font-family: 'a드림고딕3';
    font-size: 14px;
    font-weight: 300;
    /* text-transform: initial; */
}
.container .card01 .sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}
.container .card02 .sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}
.container .card03 .sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}
.container .card04 .sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}
.container .card05 .sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}
.container .card06 .sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}

.container .card01 .sci li{
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0; /*디스플레이 none 말고 투명도 없애서 안보이게끔 */
    transition: calc(0.8s);
    /* transition-delay: calc(0.1s * var(--i)); 순서대로 나오게 끔 */
}
.container .card02 .sci li{
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0; /*디스플레이 none 말고 투명도 없애서 안보이게끔 */
    transition: calc(0.8s);
    /* transition-delay: calc(0.1s * var(--i)); 순서대로 나오게 끔 */
}
.container .card03 .sci li{
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0; /*디스플레이 none 말고 투명도 없애서 안보이게끔 */
    transition: calc(0.8s);
    /* transition-delay: calc(0.1s * var(--i)); 순서대로 나오게 끔 */
}
.container .card04 .sci li{
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0; /*디스플레이 none 말고 투명도 없애서 안보이게끔 */
    transition: calc(0.8s);
    /* transition-delay: calc(0.1s * var(--i)); 순서대로 나오게 끔 */
}
.container .card05 .sci li{
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0; /*디스플레이 none 말고 투명도 없애서 안보이게끔 */
    transition: calc(0.8s);
    /* transition-delay: calc(0.1s * var(--i)); 순서대로 나오게 끔 */
}
.container .card06 .sci li{
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0; /*디스플레이 none 말고 투명도 없애서 안보이게끔 */
    transition: calc(0.8s);
    /* transition-delay: calc(0.1s * var(--i)); 순서대로 나오게 끔 */
}
.container .card01:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card02:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card03:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card04:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card05:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card06:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .sci li a{
    color: #333;
    font-size: 24px;
}
.container .imgbx img{
    width: 100%;
    height: 100%;
}


/* 팝업창 */
.popup01,
.popup02,
.popup03,
.popup04,
.popup05,
.popup06{
    position: absolute;
    overflow: hidden;
    width: 1280px;
    background: rgba(255, 255, 255);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 13;
    backdrop-filter: blur(10px);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: none;
}

.popup_wrap h3{
    width: 100%;
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    background: #eee;
    font-size: 25px;
    font-family: 'a스피드';
    font-weight: 100;
    color: #7896df;
    letter-spacing: 2px;
}

.popup_wrap h6{
    width: 100%;
    height: 4vh;
    text-align: center;
    line-height: 4vh;
    background: #7896df;
    font-size: 18px;
    font-family: 'a스피드';
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
}
.popup_wrap .img-card{
    /* margin-top: 50px; */
    overflow-y: scroll;
    width: 100%;
    height: 80vh;
}
.popup_wrap .img-card::-webkit-scrollbar{
    width: 13px;
    background: white;
}
.popup_wrap .img-card::-webkit-scrollbar-thumb{
    background: #a8b8e0;
    border-radius: 10px;
}

.popup_wrap .img-card img{
    width: 100%;
}



/* 팝업창 닫기버튼 */
.popup_wrap .popup_close{
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
}

.popup_close span{
    display: block;
    background-color: #7896df;
    width: 25px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 35%;
}

.popup_close span:first-child{
    transform: rotate(45deg) translate(-6px, 5px);
}

.popup_close span:last-child{
    transform: rotate(-45deg) translate(-6px, -5px);
}


/* 감사합니다 */
#wrap .section:nth-child(4){
    width: 90%;
    margin: auto;
}
#wrap .section:nth-child(4) a{
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bold 3em 'a스피드';
    font-weight: 300;
    text-decoration: none;
    border: 2px solid #7896df;
    color: #7896df;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 1s;
    position: relative;
    text-align: center;
    overflow: hidden;
}
#wrap .section:nth-child(4) a:hover{
    color: #fff;
}

#wrap .section:nth-child(4) a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7896df;
    transition: all 1s;
    z-index: -1;
    transform: translateX(-100%);
}
#wrap .section:nth-child(4) a:hover::before{
    transform: translateX(0);
}
